body {
    background-color: rgb(230, 230, 230);
  }


h1 {
    color: red;
    text-align: center;
  }
  
p {
color: purple;
text-align: center;
}
  
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
}